# Creado y Modificado de Sets

In [4]:
my_set =set()
my_set.add("python")
print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
1
{'python'}

In [5]:
#Listas --- []
#Tuplas ---- ()
#Sets-------{}

In [8]:
my_set =set()
my_set.add("python")
my_set.update((23,"Backend", 3.1416))



print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{'python', 3.1416, 'Backend', 23}

In [11]:
my_set=set()
my_set.add("python")
my_set.update((23,"Backend",3.1416))
my_set.add("python")
my_set.add("python")
my_set.add("python")
my_set.add(23)
my_set.add(23)
my_set.add(23)
my_set.add(3.1416)
my_set.add(3.1416)
my_set.add(3.1416)
my_set.add(3.1416)

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{'python', 3.1416, 'Backend', 23}

In [12]:
my_set={'python', 3.1416, 'Backend', 23}
print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{'python', 3.1416, 'Backend', 23}

# Métodos para manipulación de sets

### add
Sirver para agregar elelentos a un set

In [13]:
my_set={1, 5, 11, 23}
print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{1, 11, 5, 23}

In [14]:
my_set.add(1)
my_set.add(2)
my_set.add(3)

In [15]:
print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
6
{1, 2, 3, 5, 11, 23}

## clear
Sirver para remover todos los elementos de sets

In [16]:
my_set={1, 5, 11, 23}

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

my_set.clear()


print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
0
set()

## copy
Sirve para copiar los elementos en un nuevo set

In [17]:
my_set={1, 5, 11, 23}
my_set2=my_set.copy()

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(type(my_set2))
print(len(my_set2))
print(my_set2,"\n")

my_set2.clear()

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(type(my_set2))
print(len(my_set2))
print(my_set2,"\n")

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
0
set()

In [20]:
my_set={1, 5, 11, 23}
my_set2=my_set

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(type(my_set2))
print(len(my_set2))
print(my_set2,"\n")

my_set2.clear()

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(type(my_set2))
print(len(my_set2))
print(my_set2,"\n")

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
0
set()

<class 'set'>
0
set()

### difference
Sirve para obtener los valores presentes en el primer set, y faltantes en el segundo set

In [22]:
set_a = {1,3,5,7,9}
set_b= {1,2,4,6,7,8}

#valores que hay en el set b faltan en el set a
print(set_b.difference(set_a))

#valores que hay en el set a faltan en el set b
print(set_a.difference(set_b))

{8, 2, 4, 6}
{9, 3, 5}

### Difference_update
Sirve para conservar solo los valores diferentes en el set solicitado y el que es mandado como parámetro

In [24]:
set_a = {1,3,5,7,9}
set_b= {1,2,4,6,7,8}
#valores que hay en el set b faltan en el set a
set_b.difference_update(set_a)
print(set_b)

#valores que hay en el set a faltan en el set b
set_a.difference_update(set_b)
print(set_a)

{2, 4, 6, 8}
{1, 3, 5, 7, 9}

In [25]:
set_a = {1,3,5,7,9}
set_b= {1,2,4,6,7,8}
#valores que hay en el set b faltan en el set a
set_a.difference_update(set_b)
print(set_a)

#valores que hay en el set a faltan en el set b
set_b.difference_update(set_a)
print(set_b)

{3, 5, 9}
{1, 2, 4, 6, 7, 8}

### discard
Sirve para eliminar un elemento del set si esta presente

In [28]:
my_set= {"python","javascript","go","scala"}
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

my_set.discard("go")

print(type(my_set))
print(len(my_set))
print(my_set)

# no importa que el valor este presente
my_set.discard("test")
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

<class 'set'>
4
{'python', 'scala', 'go', 'javascript'}

<class 'set'>
3
{'python', 'scala', 'javascript'}
<class 'set'>
3
{'python', 'scala', 'javascript'}

### intersection
Obtiene los valores en comun en 2 sets

In [29]:
set_a= {1,3,5,7,9}
set_b = {1,2,4,6,7,8}
print(set_a.intersection(set_b))

print(set_b.intersection(set_a))

{1, 7}
{1, 7}

### intersection_update
Obtiene los valores en común en 2 sets y los asigna al set que manda llamar el método

In [31]:
set_a= {1,3,5,7,9}
set_b = {1,2,4,6,7,8}
set_a.intersection_update(set_b)
print(type(set_a))
print(len(set_a))
print(set_a,"\n")

print(type(set_b))
print(len(set_b))
print(set_b,"\n")

<class 'set'>
2
{1, 7}

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

### isdisjoint
-True: si no hay valores compartidos por ambos sets

-False: si hay por lo menos un valor compratido por ambos sets

In [33]:
set_a={1,3,5,7,9}
set_b = {1,2,4,6,7,8}

print(set_a.isdisjoint(set_b))

False

In [34]:
set_a={1,3}
set_b = {1,2,4,6,7,8}

print(set_a.isdisjoint(set_b))

False

In [35]:
set_a={0,3}
set_b = {1,2,4,6,7,8}

print(set_a.isdisjoint(set_b))

True

### issubset
True: Si todos los valores del set llamado están en el set pasado como parámetro

In [36]:
set_a= {1,8}
set_b= {1,2,4,6,7,8}
print(set_a.issubset(set_b))

True

In [37]:
set_a= {1,3,8}
set_b= {1,2,4,6,7,8}
print(set_a.issubset(set_b))

False

### issuperset
En cierta forma es opuesto a issubset

Analiza si todos los valores del set pasado como parámetro están en el set llamado

In [39]:
set_a = {1,8}
set_b = {1,2,4,6,7,8}
print(set_b.issuperset(set_a))

True

In [40]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}
print(set_b.issuperset(set_a))

False

### pop
Elimina el primer elemento de set

In [1]:
my_set={1, 2, 4, 6, 7, 8}
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(my_set.pop())
print(my_set.pop())
print(my_set.pop(),"\n")


print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

1
2
4

<class 'set'>
3
{6, 7, 8}

### remove
elimina elemento pasado como paámetro; debe de estar presente en el seto mandará un error

In [3]:
my_set={1, 2, 4, 6, 7, 8}
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

my_set.remove(4)

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

my_set.remove(3)

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

<class 'set'>
5
{1, 2, 6, 7, 8}

KeyError: 3

### union
Combina 2 sets

In [4]:
set_a={1,2,3,4,5}
set_b={1,4,8,9,5,0}
set_c=set_a.union(set_b)
print(set_c)

{0, 1, 2, 3, 4, 5, 8, 9}

### update
añade los valores del set pasado como parámetros al set llamado

In [7]:
set_a={1,2,3,4,5}
set_b={1,4,8,9,5,0}

set_a.update(set_b)
print(set_a)
print(set_b)

{0, 1, 2, 3, 4, 5, 8, 9}
{0, 1, 4, 5, 8, 9}

### symmetric_difference
Obtiene las diferenciasen ambos sets

In [9]:
set_a={1,2,3,4,5}
set_b={1,4,8,9,5,0}
print(set_a.symmetric_difference(set_b))
print(set_b.symmetric_difference(set_a))

{0, 2, 3, 8, 9}
{0, 2, 3, 8, 9}

### symmetric_difference_update
Obtiene las diferencias de ambos sets y asigna los valores al set llamado

In [11]:
set_a={1,2,3,4,5}
set_b={1,4,8,9,5,0}
set_a.symmetric_difference_update(set_b)
print(set_a)
print(set_b)

{0, 2, 3, 8, 9}
{0, 1, 4, 5, 8, 9}

# Conversión de sets

### Cadena a Set

In [1]:
my_string ="Backend Python"
my_set=set(my_string)


print(type(my_string))
print(my_string,"\n")

print(type(my_set))
print(my_set,"\n")

<class 'str'>
Backend Python

<class 'set'>
{'B', 'd', ' ', 'o', 'e', 'k', 'c', 'h', 't', 'n', 'P', 'y', 'a'}

### Listas a Sets

In [2]:
my_list=[1,1,1,2,2,2,3,3,3,4,4,5]
my_set=set(my_list)

print(type(my_list))
print(my_list,"\n")

print(type(my_set))
print(my_set,"\n")

<class 'list'>
[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5]

<class 'set'>
{1, 2, 3, 4, 5}

### Tuplas a Sets

In [3]:
my_tuple=(1,1,1,2,2,2,3,3,3,4,4,6)
my_set=set(my_tuple)

print(type(my_tuple))
print(my_tuple,"\n")

print(type(my_set))
print(my_set,"\n")

<class 'tuple'>
(1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 6)

<class 'set'>
{1, 2, 3, 4, 6}

### Sets a Cadena

In [4]:
my_set ={'B', 'd', ' ', 'o', 'e', 'k', 'c', 'h', 't', 'n', 'P', 'y', 'a'}
my_string="".join(my_set)

print(type(my_set))
print(my_set,"\n")

print(type(my_string))
print(my_string)

<class 'set'>
{'B', 'd', ' ', 'o', 'e', 'k', 'c', 'h', 't', 'n', 'P', 'y', 'a'}

<class 'str'>
Bd oekchtnPya

###  Set a Lista

In [5]:
my_set={1,2,3,4,5}
my_list=list(my_set)

print(type(my_set))
print(my_set,"\n")

print(type(my_list))
print(my_list,"\n")

<class 'set'>
{1, 2, 3, 4, 5}

<class 'list'>
[1, 2, 3, 4, 5]

### Set a Tupla

In [6]:
my_set={1,2,3,4,5,6}
my_tuple=tuple(my_set)

print(type(my_set))
print(my_set,"\n")

print(type(my_tuple))
print(my_tuple,"\n")

<class 'set'>
{1, 2, 3, 4, 5, 6}

<class 'tuple'>
(1, 2, 3, 4, 5, 6)